version: "3.9"

services:
  api:
    build: .
    container_name: delivery_api
    ports:
      - "${APP_PORT:-8000}:8000"
    env_file:
      - .env
    depends_on:
      - db
      - rabbitmq
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]

  worker:
    build: .
    container_name: delivery_worker
    env_file:
      - .env
    depends_on:
      - db
      - rabbitmq
    command: ["python", "-m", "app.worker"]

  publisher:
    build: .
    container_name: delivery_publisher
    env_file:
      - .env
    depends_on:
      - db
      - rabbitmq
    command: ["python", "-m", "app.outbox"]

  db:
    image: postgres:16
    container_name: delivery_db
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: delivery_rabbitmq
    env_file:
      - .env
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  postgres_data:
