fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
aio-pika
aiosqlite
alembic
asyncpg
sqlalchemy
python-json-logger
PyYAML

# Testes e cobertura
pytest
pytest-asyncio
pytest-cov
httpx

#observabilidade
prometheus-client
prometheus-fastapi-instrumentator